flow1.txt
[{"id":"d4741179.b9064","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7daccba6.dc7a54","type":"rpi-gpio out","z":"d4741179.b9064","name":"Green LED","pin":"11","set":true,"level":"0","freq":"","out":"out","x":730,"y":260,"wires":[]},{"id":"a3519c66.f4cd","type":"debug","z":"d4741179.b9064","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":120,"wires":[]},{"id":"8929e830.577348","type":"rpi-gpio in","z":"d4741179.b9064","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":170,"y":220,"wires":[["a3519c66.f4cd","d2cde674.35c358"]]},{"id":"d2cde674.35c358","type":"switch","z":"d4741179.b9064","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":240,"wires":[["a2f7f6a1.c94798"],["2872d2fa.64537e"]]},{"id":"a2f7f6a1.c94798","type":"change","z":"d4741179.b9064","name":"Change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":200,"wires":[["7daccba6.dc7a54"]]},{"id":"2872d2fa.64537e","type":"change","z":"d4741179.b9064","name":"Change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":280,"wires":[["7daccba6.dc7a54"]]}]