flow2.txt
[{"id":"d799ea65.f947b8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"75db020f.70968c","type":"inject","z":"d799ea65.f947b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":220,"wires":[["e99efd4c.31d95"]]},{"id":"e99efd4c.31d95","type":"function","z":"d799ea65.f947b8","name":"Payload","func":"msg.headers={\n    devicekey: \"2VZAxT8CvMBR3jXX\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":280,"wires":[["9d1c10ca.b02d"]]},{"id":"9d1c10ca.b02d","type":"http request","z":"d799ea65.f947b8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DNZzL2b4/datachannels/Temperature/datapoints.csv","tls":"","proxy":"","authType":"","x":550,"y":280,"wires":[["52e07dc.6d61d84","7193aa08.3ae784"]]},{"id":"52e07dc.6d61d84","type":"http response","z":"d799ea65.f947b8","name":"","statusCode":"","headers":{},"x":730,"y":280,"wires":[]},{"id":"7193aa08.3ae784","type":"debug","z":"d799ea65.f947b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":380,"wires":[]}]