flow3.txt
[{"id":"2bd660c0.10321","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"38c35e86.f7dab2","type":"inject","z":"2bd660c0.10321","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":260,"wires":[["99c879e5.8448d8"]]},{"id":"99c879e5.8448d8","type":"function","z":"2bd660c0.10321","name":"Payload","func":"msg.headers={\n    deviceKey:\"2VZAxT8CvMBR3jXX\"\n}\nmsg.payload=\"Temperature,,25\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["cd89c36e.dd252"]]},{"id":"cd89c36e.dd252","type":"http request","z":"2bd660c0.10321","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/DNZzL2b4/datapoints.csv","tls":"","proxy":"","authType":"","x":590,"y":300,"wires":[["fa99a626.256668","fd5c7d22.e1f98"]]},{"id":"fa99a626.256668","type":"http response","z":"2bd660c0.10321","name":"","statusCode":"","headers":{},"x":750,"y":300,"wires":[]},{"id":"fd5c7d22.e1f98","type":"debug","z":"2bd660c0.10321","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":380,"wires":[]}]